<template>
    <div>
        <form class="form form-horizontal" @submit="save">
            <div class="form-group">
                <label class="col-sm-3 control-label">Категория:</label>
                <div class="col-sm-8">
                    <ui-select v-model="cat">
                        <option v-for="cat in cats" v-bind:value="cat.slug">
                            {{ cat.name }}
                        </option>
                    </ui-select>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div :class="{'form-group': true, 'has-error': errors.has('title') }">
                <label class="col-sm-3 control-label">Название:</label>
                <div class="col-sm-8">
                    <input class="form-control" v-model="title" v-validate.initial="title" data-rules="required">
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div :class="{'form-group': true, 'has-error': errors.has('description') }">
                <label class="col-sm-3 control-label">Описание:</label>
                <div class="col-sm-8">
                    <textarea class="form-control" v-model="description" v-validate.initial="description"
                              data-rules="required"></textarea>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div :class="{'form-group': true, 'has-error': errors.has('features') }">
                <label class="col-sm-3 control-label">Характеристики:</label>
                <div class="col-sm-8">
                    <textarea class="form-control" v-model="features" v-validate.initial="features"
                              data-rules="required"></textarea>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="text-center">
                <input type="submit" class="btn btn-default" value="Сохранить и продолжить">
            </div>
        </form>
    </div>
</template>

<script>
    import Vue from 'vue'
    import {mapGetters} from 'vuex'
    import {Fw} from '../../main'

    import uiSelect from '../ui/select.vue'

    Vue.component('ui-select', uiSelect)

    export default {
        computed: mapGetters({
            cats: 'getBoardCats'
        }),
        data () {
            return {
                data: {
                    cats: [
                        {text: 'One', value: 'A'},
                        {text: 'Two', value: 'B'},
                        {text: 'Three', value: 'C'}
                    ]
                },
                cat: '',
                title: '',
                description: '',
                features: '',

                panel: null
            }
        },
        methods: {
            save () {
                this.$validator.validateAll()

                if (this.errors.any()) {
                    return false;
                }

                Fw.$emit('changeStep', 2)

                this.$router.push({ name: 'editPostBoard-step-2', params: { id: 1 } })
            }
        },

        mounted () {
            if (this.$route.name == 'editPostBoard-step-1') {
                Fw.$emit('changeStep', 2)
            } else {
                Fw.$emit('changeStep', 1)
            }
        }
    }
</script>