<template>
    <div>
        <button class="btn m-b-xs  btn-default" style="float: left;margin-right: 15px" @click="addFields"><i class="fa fa-plus"></i></button>
        <form class="form form-inline collection-fields">
            <template v-for="(input, index) in collections">
                <div class="collection-field">
                    <h1 v-if="index" class="number-collection">{{ index + 1 }}</h1>
                    <div class="form-group" v-for="item in fields">
                        <input type="text" class="form-control" v-bind:placeholder="item.name" style="width: 120px;margin-right: 10px">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
            </template>

            <div class="text-center">
                <input type="submit" class="btn btn-default" value="Сохранить и продолжить">
            </div>
        </form>
    </div>
</template>

<style lang="sass" rel="stylesheet/scss">
    .number-collection {
        display: inline-block;
        margin: 0;
        line-height: 0;
        position: relative;
        top: 10px;
        margin-left: -10px;
        left: 0;
        width: 60px;
        text-align: center;
    }
</style>

<script>
    import {Fw} from '../../main'
    import panel from './panel.vue'

    export default {
        mounted () {
            Fw.$emit('changeStep', 2)

            if (!this.collections.length) {
                this.addFields()
            }
        },
        data () {
            return {
                fields: [
                    {name: 'Что-то'},
                    {name: 'Что-то 2'},
                    {name: 'Что-то 3'},
                    {name: 'Что-то 4'},
                ],
                collections: []
            };
        },
        methods: {
            addFields () {
                var html = [];

                this.fields.forEach((i, v) => {
                    html.push('<input type="text" class="form-control" style="width: 120px;margin-right: 10px">');
                });

                this.collections.push(html.join(''));

                return false;
            }
        }
    }
</script>
