<template>
    <div>
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <a href="/admin/shop/add" class="btn m-b-xs w-xs btn-info pull-right">Добавить</a>
            <h1 class="m-n font-thin h3">Магазин</h1>
        </div>
        <!-- / main header -->
        <div class="wrapper-md content-md-wrap">
            <div class="panel panel-default">
                <div style="padding: 20px">ssfddf</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {}
</script>