<template>
    <div>
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md ">
            <h1 class="m-n font-thin h3">Создание категории</h1>
        </div>
        <!-- / main header -->
        <div class="wrapper-md content-md-wrap">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form form-horizontal" @submit="save">
                        <div :class="{'form-group': true, 'has-error': errors.has('name') }">
                            <label class="col-sm-3 control-label">Название:</label>
                            <div class="col-sm-8">
                                <input class="form-control" v-model="name" v-validate.initial="name"
                                       data-rules="required">
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div :class="{'form-group': true, 'has-error': errors.has('slug') }">
                            <label class="col-sm-3 control-label">Описание:</label>
                            <div class="col-sm-8">
                                <input class="form-control" v-model="slug" v-validate.initial="slug"
                                       data-rules="required">
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="text-center">
                            <input type="submit" class="btn btn-default" value="Сохранить и продолжить">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        data () {
            return {
                name: '',
                slug: ''
            }
        },
        methods: {
            save () {
                this.$validator.validateAll()

                if (this.errors.any()) {
                    return event.preventDefault()
                }

                this.$store.dispatch('createCat', this.$data)
                this.$router.replace('/board/cats')
            }
        }
    }
</script>
