<template>
    <div>
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <router-link to="/board/cats/add" class="btn m-b-xs w-xs btn-info pull-right">Добавить</router-link>
            <h1 class="m-n font-thin h3">Категории</h1>
        </div>
        <!-- / main header -->
        <div class="wrapper-md content-md-wrap">
            <div class="panel panel-default">
                <!--<div style="padding: 20px">-->

                    <table class="table m-b-none default footable-loaded footable">
                        <thead>
                        <tr>
                            <th width="185">
                            </th>
                            <th width="250">
                                Название
                            </th>
                            <th>
                                Slug
                            </th>
                            <th>
                                Товаров
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="footable-even" style="display: table-row;" v-for="cat in cats">
                                <td>
                                    <a class="btn btn-xs btn-dark">Редактировать</a>
                                    <a class="btn btn-xs btn-danger">Удалить</a>
                                </td>
                                <td class="footable-visible footable-first-column">{{ cat.name }}
                                </td>
                                <td class="footable-visible">{{ cat.slug }}</td>
                                <td class="footable-visible">%0%</td>
                            </tr>
                        </tbody>
                    </table>
                <!--</div>-->
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        computed: mapGetters({
            cats: 'getBoardCats'
        }),
    }
</script>