<template>
        <select>
            <slot></slot>
        </select>
</template>

<script>
    import {Fw} from '../../main'

    export default {
        props: ['options', 'value'],
        mounted () {
            var vm = this

            console.log($(this.$el))

            $(this.$el)
                    .val(this.value)
                    // init select2
                    .selectpicker()
                    // emit event on change.
                    .on('change', function () {
                        vm.$emit('input', this.value)
                    })
        },
        watch: {
            value: function (value) {
                // update value
//                $(this.$el).select2('val', value)
            },
            options: function (options) {
                // update options
//                $(this.$el).select2({ data: options })
            }
        },
        destroyed () {
//            $(this.$el).off().select2('destroy')
        }
    }
</script>